/*
Author: Lucas Rantanen
Date: 2025-09-22
*/
body
{
    background-color: whitesmoke;
    font-family: Helvetica, sans-serif;

}

h1
{
    color: black;
    font-size: x-large;
}
p
{
    color: darkorchid;
}
ul
{
    color: darkslateblue;
    font: bold;
    list-style-type: circle;
}
ol
{
    color:crimson;
    list-style-type: disc;
}
a
{
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}